{% extends "base.html" %}
{% block title %}Mes Images{% endblock %}
{% block content %}
<h2 class="mb-4">Mes Images Uploadées</h2>

<form action="/delete_all" method="post" class="mb-4">
    <button type="submit" class="btn btn-danger">Delete all</button>
</form>

<div class="row">
    {% for item in images %}
    <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
            <img src="data:image/jpeg;base64,{{ item.img }}" class="card-img-top">
            <div class="card-body">
                <p class="card-text">{{ item.caption }}</p>
                <form action="/delete/{{ item.file_id }}" method="post">
                    <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
